doctype html
html
	head
		meta(charset='UTF-8')
		title Hitcell
		link(href='css/main.css', rel='stylesheet' type='text/css')
	body
		#wrapper
			include include_tpl/header
			p Правильно 
			include include_tpl/footer
		script(src='js/main.js')
