doctype html
html
	head
		meta(charset='UTF-8')
		title Title Page
		link(href='css/main.css', rel='stylesheet' type='text/css')
	body
		#wrapper
			include include_tpl/header da das
			p  dsa da dsa
			include include_tpl/footer da das
		script(src='js/main.js')